@import "./variables";
@import "./mixin";
@import "./global";

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 40px;

  .footer-box {
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 400;
      display: block;
      margin-bottom: 10px;
    }

    a {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      font-weight: 300;
      color: $gray;
      display: block;
      margin-bottom: 5px;
      @extend .transition;
      &:hover {
        text-decoration: underline;
        transform: translateX(-5px);
        color: white;
      }
    }
  }
}

.copright {
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 80px;

  img {
    width: 60px;
    height: auto;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: $gray;
    display: block;
  }
}
