@import "./variables";
@import "./mixin";
@import "./global";

.about-us {
  .row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    text-align: center;
    align-items: stretch;
    margin-bottom: 60px;
    @include tablet () {
        display: flex;
        flex-direction: column;
    }
  }

  h4 {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
    cursor: pointer;
    @extend .transition;
    &:hover {
      color: $main-color;
    }
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: $gray;
  }

  i {
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.8s;

    &:hover {
      color: $main-color;
      margin-top: 15px;
      font-size: 52px;
      + h4 {
        color: $main-color;
        margin-top: 15px;
      }
    }
  }

  .about-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 9rem;
    align-items: center;
    @include tablet () {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .about-img {
      position: relative;
      display: inline-block;

      img {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.6);
        display: block;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
      }
    }

    h5 {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 6px;
      color: $main-color;
    }

    h3 {
      font-family: "Playfair Display", serif;
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    li {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      list-style-type: circle;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
}
