@import "./variables";
@import "./global";
@import "./mixin";

.courses {
  .center-text {
    text-align: center;
    h2 {
      font-family: "Playfair Display", serif;
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }

  .courses-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 40px;
  }

  .card {
    position: relative;
    margin-bottom: 30px;
    img {
      width: 350px;
      height: 400px;
      object-fit: cover;
      border-radius: 5px;
      filter: brightness(60%);
      display: block;
      @extend .transition;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
      }
    }

    .icons {
      position: absolute;
      bottom: 10px;
      left: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      i {
        margin-right: 8px;
        font-size: 18px;
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: $gray;
      }
    }
  }

  .center-button {
    text-align: center;
  }
}
