@import "./global";
@import "./variables";

.educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  text-align: center;
  gap: 3rem;

  h4 {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: pointer;
    @extend .transition;
    &:hover {
      color: $main-color;
      + p {
        display: block;
      }
    }
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: $gray;
    display: none;
  }

  .row {
    width: 210px;
    height: 410px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding-top: 10px;
    @extend .transition;
    &:hover {
      transform: scale(0.94);
      box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    }
  }

  .row-img {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      display: block;
      @extend .transition;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
