@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Qwigley&display=swap");
.flex, .contact-us, header .header-right, header .navbar, header {
  display: flex;
  align-items: center;
}

.transition, .btn, .footer-content .footer-box a, .contact-us .form-btn, .courses .card img, .about-us h4, .educations-content .row-img img, .educations-content .row, .educations-content h4, header .header-right a, header .navbar li a {
  transition: all 0.5s ease;
}

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 12px 24px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  header {
    justify-content: center;
  }
}
header .logo {
  font-size: 32px;
  font-family: "Cabin", sans-serif;
  color: #ffffff;
  font-weight: lighter;
}
header .logo span {
  color: rgb(88, 71, 41);
  font-weight: 400;
  font-size: 46px;
  font-family: "Allura", cursive;
  letter-spacing: 3px;
}
@media (max-width: 1200px) {
  header .navbar li {
    display: none;
  }
}
header .navbar li a {
  font-family: "Cabin", sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 150px;
  margin: 0 12px;
  text-transform: uppercase;
  cursor: pointer;
}
header .navbar li a:hover {
  color: #584729;
}
header .header-right a {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 150px;
  color: #ffffff;
  margin-right: 18px;
  margin-left: 5px;
}
@media (max-width: 1000px) {
  header .header-right a {
    display: none;
  }
}
header .header-right a:hover {
  color: #584729;
  transform: translateY(-3px);
}
header .header-right a:nth-child(1) {
  margin-right: 18px;
}

.flex, .contact-us, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, .btn, .footer-content .footer-box a, .contact-us .form-btn, .courses .card img, .about-us h4, .educations-content .row-img img, .educations-content .row, .educations-content h4, header .navbar li a, header .header-right a {
  transition: all 0.5s ease;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./imgs/backg.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.home .home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .home-text h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #584729;
}
.home .home-text h1 {
  font-size: 56px;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .home .home-text h1 {
    font-size: 3rem;
    line-height: 80px;
  }
}
.home .home-text p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.6705882353);
}
@media (max-width: 1000px) {
  .home .home-text .btn {
    padding: 10px 15px;
  }
}

.flex, .contact-us, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, .btn, .footer-content .footer-box a, .contact-us .form-btn, .courses .card img, .about-us h4, .educations-content .row-img img, .educations-content .row, .educations-content h4, header .navbar li a, header .header-right a {
  transition: all 0.5s ease;
}

.educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  text-align: center;
  gap: 3rem;
}
.educations-content h4 {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 5px;
  cursor: pointer;
}
.educations-content h4:hover {
  color: #584729;
}
.educations-content h4:hover + p {
  display: block;
}
.educations-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6705882353);
  display: none;
}
.educations-content .row {
  width: 210px;
  height: 410px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-top: 10px;
}
.educations-content .row:hover {
  transform: scale(0.94);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
.educations-content .row-img {
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.educations-content .row-img img {
  width: 100%;
  height: 100%;
  display: block;
}
.educations-content .row-img img:hover {
  transform: scale(1.2);
}

.flex, .contact-us, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, .btn, .footer-content .footer-box a, .contact-us .form-btn, .courses .card img, .about-us h4, header .navbar li a, header .header-right a, .educations-content h4, .educations-content .row, .educations-content .row-img img {
  transition: all 0.5s ease;
}

.about-us .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
  align-items: stretch;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .about-us .row {
    display: flex;
    flex-direction: column;
  }
}
.about-us h4 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0;
  cursor: pointer;
}
.about-us h4:hover {
  color: #584729;
}
.about-us p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6705882353);
}
.about-us i {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.8s;
}
.about-us i:hover {
  color: #584729;
  margin-top: 15px;
  font-size: 52px;
}
.about-us i:hover + h4 {
  color: #584729;
  margin-top: 15px;
}
.about-us .about-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9rem;
  align-items: center;
}
@media (max-width: 1000px) {
  .about-us .about-row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.about-us .about-row .about-img {
  position: relative;
  display: inline-block;
}
.about-us .about-row .about-img img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.6);
  display: block;
}
.about-us .about-row .about-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.about-us .about-row h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #584729;
}
.about-us .about-row h3 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}
.about-us .about-row li {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  list-style-type: circle;
  margin-top: 15px;
  margin-bottom: 30px;
}

.flex, .contact-us, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, .btn, .footer-content .footer-box a, .contact-us .form-btn, .courses .card img, header .navbar li a, header .header-right a, .educations-content h4, .educations-content .row, .educations-content .row-img img, .about-us h4 {
  transition: all 0.5s ease;
}

.courses .center-text {
  text-align: center;
}
.courses .center-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}
.courses .courses-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 40px;
}
.courses .card {
  position: relative;
  margin-bottom: 30px;
}
.courses .card img {
  width: 350px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  filter: brightness(60%);
  display: block;
}
.courses .card img:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}
.courses .card .icons {
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.courses .card .icons i {
  margin-right: 8px;
  font-size: 18px;
}
.courses .card .icons p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6705882353);
}
.courses .center-button {
  text-align: center;
}

.flex, .contact-us, header, header .navbar, header .header-right {
  display: flex;
  align-items: center;
}

.transition, .btn, .footer-content .footer-box a, .contact-us .form-btn, header .navbar li a, header .header-right a, .educations-content h4, .educations-content .row, .educations-content .row-img img, .about-us h4, .courses .card img {
  transition: all 0.5s ease;
}

.contact-us {
  gap: 40px;
}
@media (max-width: 1000px) {
  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact-us .contact-img {
  width: 100%;
}
.contact-us .contact-img img {
  border-radius: 5px;
  height: auto;
  width: 100%;
}
.contact-us .contact-form {
  flex-direction: column;
  display: flex;
  width: 90%;
}
.contact-us input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
.contact-us .form-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #584729;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.contact-us .form-btn:hover {
  border: 1px solid #ffffff;
  transform: translateY(-10px);
  background-color: transparent;
  color: #ffffff;
}

.flex, header, header .navbar, header .header-right, .contact-us {
  display: flex;
  align-items: center;
}

.transition, .btn, .footer-content .footer-box a, header .navbar li a, header .header-right a, .educations-content h4, .educations-content .row, .educations-content .row-img img, .about-us h4, .courses .card img, .contact-us .form-btn {
  transition: all 0.5s ease;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 40px;
}
.footer-content .footer-box h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.footer-content .footer-box a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6705882353);
  display: block;
  margin-bottom: 5px;
}
.footer-content .footer-box a:hover {
  text-decoration: underline;
  transform: translateX(-5px);
  color: white;
}

.copright {
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 80px;
}
.copright img {
  width: 70px;
  height: auto;
}
.copright p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6705882353);
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-color: black !important;
}

body a {
  text-decoration: none;
  color: #ffffff;
}

section, footer {
  padding: 70px 17% 60px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #584729;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  border: 1px solid #ffffff;
  transform: translateY(-10px);
  background-color: transparent;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */